[Desktop Entry]
Name=Game 424004941485572097
Exec=/tmp/.mount_u3YLkzMU/usr/bin/rpcs3 %u
Type=Application
NoDisplay=true
Categories=Discord;Games;
MimeType=x-scheme-handler/discord-424004941485572097;
