[Desktop Entry]
Type=Application
Name=Readest (5d8a09)
Comment=Your online library
Icon=/home/raul/AppImages/.icons/readest.png
TryExec=/home/raul/AppImages/readest.appimage
Exec=env DESKTOPINTEGRATION=1 /home/raul/AppImages/readest.appimage
Terminal=false
MimeType=application/epub+zip;application/x-mobipocket-ebook;application/vnd.amazon.ebook;application/vnd.amazon.mobi8-ebook;application/x-fictionbook+xml;application/vnd.comicbook+zip;application/pdf;x-scheme-handler/readest;
Categories=Office;
StartupWMClass=readest
X-AppImage-Name=Readest
