[Desktop Entry]
Type=Application
Name=Readest
Terminal=false
NoDisplay=true
MimeType=x-scheme-handler/readest
Exec="/home/raul/AppImages/readest.appimage" %u
